<p id="notice"><%= notice %></p>

<p>
  <strong>Attendance:</strong>
  <%= @concert.attendance %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @concert.duration %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Band:</strong>
  <%= @concert.band %>
</p>

<%= link_to 'Edit', edit_band_concert_path(@band, @concert) %> |
<%= link_to 'Back', band_concerts_path(@band) %>
