<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @band.members %>
</p>

<p>
  <strong>Debut date:</strong>
  <%= @band.debut_date %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @band.kind %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Current Month Concert</th>
      <th>First</th>
      <th>Last</th>
      <th>Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @band.current_concert %></td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
